
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0px;
    /* took me an hour and a half to realize <body> has a base margin of 8
    The internet said it was because of my screen resolution or something, idk*/
}

h2, h4 {
  margin: 0px 0px;
  padding: 10px 0px;
}

h5 {
  font-size: 22px;
}


/* Header */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 20;
}

header img {
  padding: 0px 10px;
  height: 50px;
  align-self: center;
}

header > nav {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

header nav a {
  color: inherit;
  align-content: flex-end;
  padding: 0px 10px;
}


/* Body */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
  z-index: 10;
}


/* Mission */

.container.mission {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
}

.mission-statement {
  width: 100%;
  background-color: black;
  align-items: center;
}


/* Store */

.container.store {
  margin-top: 70px;
}

.storeboxes {
  width: 1000px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.storebox img {
  height: 200px;
  width: 300px;
  margin: 0px 15px;
  margin-top: 15px;
}


/* Locations */

.container.locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  background-image: url("../images/img-locations-background.jpg");
  background-size: 100%;
  height: 500px;
  color: inherit;
}

.locationboxes {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 90px;
}

.locationbox {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: 300px;
  margin: 15px 20px;
  background-color: black;
  opacity: 1;
}

div.locations > h2 {
  padding: 0px 0px;
}


/* Contact */

.contact {
  height: 200px;
}


/* Footer */

footer {
  display: flex;
  position: relative;
  font-weight: bold;
  align-self: flex-start;
  margin: 0px 20px;
}
